.hackathon-quiz{
  color: var(--text-primary);

  .details-header{
    padding: 4rem 0;
    display: flex;
    position: relative;

    &--bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(96deg, rgba(var(--shadow),1) 8%, var(--highlight-primary) 86%);
      opacity: .6;
      z-index: 1;
    }
  }

  .quiz-info{
    flex: 2;
    display: flex;
    z-index: 2;


    &__item{
      flex: 1;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__value{
      font-size: 7.4rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    &__label{
      font-size: 1.9rem;
    }
  }

  &__action-wrapper{
    z-index: 2;
    padding: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info-btn{
    min-width: 60%;
    border-radius: .4rem;
    color: var(--text-primary);
  }

  .quiz-instructions{
    padding: 4rem 6rem;

    &__label{
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    &__item{
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
  }

}