.ath-tab-list{
  display: flex;
}

.ath-nav-tab{
  border-bottom: .3rem solid transparent;
  padding: .7rem 0 .5rem 0;
  cursor: pointer;

  &:not(:last-child){
    margin-right: 6rem;
  }

  &__active{
    border-bottom: .3rem solid var(--highlight-primary);
    color: var(--highlight-primary);
  }

  a, p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 0;
  }
}
