.input-ele-wrapper {
  display: flex;
  flex-direction: column;

  &--1 {
    margin-bottom: 2rem;
  }

  &--full-width{
    flex: 1;
  }

  &__label {
    font-size: 1.2rem;
    color: var(--text-primary);
    margin-bottom: 0.5rem;
  }

  &__input {
    border-radius: 0.2rem;
    background-color: transparent;
    color: var(--text-primary);
    padding: 0.8rem 1rem;
    font-size: 1.2rem;

    &--bordered{
      border: 0.1rem solid var(--text-primary);;
    }

    &--underlined{
      padding: 1rem .2rem;
      border-radius: 0;
      border: none;
      border-bottom: 0.1rem solid var(--text-primary);
    }

    &:active,
    &:focus {
      box-shadow: none;
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--text-secondary);
    }
  }

  &__textarea {
    background-color: transparent !important;
    height: 8rem;
    padding: 1rem;
    color: var(--text-primary);
    font-size: 1.2rem;

    &--bordered{
      border: 0.1rem solid var(--text-primary);
      border-radius: 0.4rem;
    }

    &--underlined{
      border-radius: 0;
      height: 6rem;
      padding: 1rem 0;
      border: none;
      border-bottom: 0.1rem solid var(--text-primary);
    }

    &--no-resize{
      resize: none;
    }

    &:active,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &__helper-text {
    font-size: 1rem;
    color: var(--text-primary);
    margin-left: 0.1rem;
    margin-top: 1rem;

    img {
      height: 1rem;
      margin-right: 0.5rem;
    }
  }
}
