//to limit text to one line
.u-limit-to-1-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.--flex-basis {
  &-40 {
    flex-basis: 40%;
  }
  &-30 {
    flex-basis: 30%;
  }
  &-25 {
    flex-basis: 25%;
  }
  &-20 {
    flex-basis: 20%;
  }
}

.u-disable {
  pointer-events: none;
}



.u-margin-right-small {margin-right: 1rem !important; transition: .5s}
.u-margin-right-medium {margin-right: 3rem !important; transition: .5s}
.u-margin-right-large {margin-right: 5rem !important; transition: .5s}
.u-margin-right-large-xl {margin-right: 8rem !important; transition: .5s}
.u-margin-right-large-xxl {margin-right: 24rem !important; transition: .5s}

.u-margin-left-small {margin-left: 1rem !important; transition: .5s}
.u-margin-left-medium {margin-left: 3rem !important; transition: .5s}
.u-margin-left-large {margin-left: 5rem !important; transition: .5s}
.u-margin-left-large-1 {margin-left: 6rem !important; transition: .5s}

.u-margin-bottom-small {margin-bottom: 1rem !important; transition: .5s}
.u-margin-bottom-medium {margin-bottom: 2rem !important; transition: .5s}
.u-margin-bottom-medium-large {margin-bottom: 3rem !important; transition: .5s}
.u-margin-bottom-large{margin-bottom: 4rem !important; transition: .5s}
.u-margin-bottom-large-xl{margin-bottom: 6rem !important; transition: .5s}

.u-margin-top-small {margin-top: 1.5rem !important; transition: .5s}
.u-margin-top-medium {margin-top: 3rem !important; transition: .5s}
.u-margin-top-large {margin-top: 6rem !important; transition: .5s}



.u-margin-right-30 { margin-right: 30rem !important;}

.u-margin-right-27 {margin-right: 27rem !important;}

.flex-default {display: flex; flex-direction: column}

.u-padding-left-large{padding-left: 8rem !important; box-sizing: border-box}
.u-padding-both-rl-medium{padding: 0 3rem}

.u-capitalize{
  text-transform: capitalize;
}

.shadow-main{
  box-shadow: 0 0 1rem 0.3rem rgba(var(--shadow), 0.2);
}

.u-text-center{
  text-align: center;
}
