.covid-list {
  color: var(--text-primary);

  .covid-list-banner {
    display: flex;
    align-items: center;
    padding: 3rem 20rem;
    background-image: linear-gradient(
      101deg,
      #000000 14%,
      var(--highlight-primary) 69%
    );

    &__left {
      width: 65%;
      margin-right: auto;
    }

    &__right {
      width: 25rem;
      height: auto;
    }

    &__title {
      font-size: 2.7rem;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    &__description {
      font-size: 1.2rem;
    }

    &__disclaimer {
      margin-top: 2rem;
      font-size: 1rem;
      font-style: italic;
    }
  }

  &__items {
    padding: 4rem 20rem;
  }

  &__search {
    margin-left: auto;
    &--input {
      min-width: 25rem;
    }
  }

  &__empty {
    text-align: center;
    &--title {
      font-size: 3rem;
      font-weight: 600;
    }

    &--sub-title {
      font-size: 2rem;
    }

    &--link {
      color: var(--highlight-primary);
      text-decoration: underline;
    }

    &--image {
      width: 100%;
      overflow: hidden;
      margin-top: 4rem;
      img {
        width: 100%;
      }
    }
  }

  &__search-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
  }

  .dashboard-item {
    background-color: var(--bg-3);
    display: flex;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &:hover {
      background-color: var(--bg-2);
      transform: scale(1.01);
      box-shadow: 0 0 2rem rgba(var(--shadow), 0.3);
    }

    &__left {
      padding: 2rem;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__title {
      font-size: 2.5rem;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

    &__description {
      font-size: 1.2rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

    &__date {
      align-self: flex-end;
      margin-top: 1rem;
    }

    &__right {
    }
    &__image {
      width: 25rem;
      height: 100%;
      mask-image: linear-gradient(-90deg, #253952, transparent);
    }
  }
}

.covid-detail {
  color: var(--text-primary);

  .covid-detail-banner {
    padding: 2rem 4rem;
    background-image: linear-gradient(
      101deg,
      #000000 14%,
      var(--highlight-primary) 69%
    );

    &__left {
      margin-top: 2rem;
    }

    &__title {
      font-size: 2.5rem;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

    &__description {
      width: 60%;
      font-size: 1.2rem;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
    }

    &__support {
      font-size: 1.2rem;
    }

    &__date {
      font-size: 1.2rem;
    }
  }

  &__dashboard {
    padding: 2rem;
  }
}
